@charset "utf-8";

/*ν—¤λ”*/
.wrap { clear: both;}
.con1440 {clear: both; width: 1440px; margin: 0 auto;}
.clrfx:after {content: ""; clear: both; display: block;}
        
.hd { clear: both; width: 100%; height: 8.8em; background-color: #000; border-bottom: 2px solid #877448; z-index: 999;}
.hd:before { content: ""; display: block; width: 100%; height: 1px; background-color: #fff; position: absolute; top: 2em;}
.hd.active {position:fixed; top: 0; left: 0; z-index:9999;}
.tnb { float: right; height: 2.5em;}
.tnb ul li { float: left;}
.tnb ul li a {display: block; padding-left: 1em; color: #fff; line-height: 2.5em; font-size: 12px}
.hd_wrap { position: relative;}
.logo {display: block; background-image: url("./img/ci/ap_logo_w.png"); background-repeat: no-repeat; position: absolute; width: 312px; height: 30px; margin-top: 2.5em;}
.logo2 {display: block; background-image: url("./img/ci/ap_logo_w.png"); background-repeat: no-repeat; background-position: 0px -30px; position: absolute; width: 60px; height: 56px; right: 3em; margin-top: -4.8em;}
.gnb {margin-left: 31em;}
.gnb li {float: left; padding-top: 1.35em; padding-right: 3em; padding-top: 3.3em;}
.gnb li a { display: block; color: #fff; font-size: 1em; padding-bottom: 1.5em; border-bottom: 3px solid #000;}
.gnb li a:hover {border-bottom: 3px solid #877448; color: #877448;}

/*ν‘Έν„°*/
.footer {clear: both; width: 100%; background-color: #000; border-top: 4px solid #877448; padding: 2em; }
.ft1 {float: left;}
.ft2 {float: right;}
.ft_col a, .ft_col span {display: block; color: #fff;}
.ft1 a {float: left; padding-right: 2em; padding-bottom: 2em; line-height: 2em;}
.ft1 a:hover {color: #877448;}
.ft1 a:after {content: "|"; padding-left: 2em;}
.ft1 a:hover:after {color: #fff;}
.ft1 a:first-child:before {content: "|"; padding-right: 2em;}
.ft1 a:hover:first-child:before {color: #fff;}
.ft1 span { font-size: 0.8em; word-spacing: 2px; color: #a6a7a7;}
.ft1 span.copy2 {color: #877448;}
.ft2 a {float: left; position: relative; margin:auto 1em; display: block;}
.ft2 a .sns_icon {padding-top: 1em;}
.ft2 a img {position: absolute; margin: 0 auto; }
.ft2 a .sns_icon.facebook img {width: 11px; }
.ft2 a .sns_icon.insta img {width: 22px;}
.ft2 a .sns_icon .icon_over {transition: 0.2s; opacity: 0;}
.ft2 a:hover .icon_over {opacity: 1;}        