@charset "utf-8";

#vs {
    clear: both;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.img_box {
    width: 400%;
    height: 100%;
    transition: 0.7s;
}

.img_box li {
    width: 25%;
    height: 100%;
    float: left;
}

.img_box li a {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-indent: -9999px;
}

.img_box .item1 a {
    background-image: url("./img/main/vs/vs1.jpg");
}

.img_box .item2 a {
    background-image: url("./img/main/vs/vs2.jpg");
}

.img_box .item3 a {
    background-image: url("./img/main/vs/vs3.jpg");
}

.radio {
    display: none
}

#vs1:checked ~ .img_box {
    margin-left: 0;
}

#vs2:checked ~ .img_box {
    margin-left: -100%;
}

#vs3:checked ~ .img_box {
    margin-left: -200%;
}


.btn_box {
    position: absolute;
    bottom: 120px;
    right: 250px;
    height: 40px;
    z-index: 40;
}

.btn_box li {
    display: none;
    width: 280px;
}

.btn_box li span {
    display: block;
    width: 40px;
    height: 40px;
    color: white;
    float: left;
    font-size: 24px;
    line-height: 40px;
}

.btn_box li label {
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -9999px;
    cursor: pointer;
}

.btn_box li .prev {
    float: left;
    background-image: url("./icon/prev.png")
}

.btn_box li .next {
    float: right;
    background-image: url("./icon/next.png")
}

#vs1:checked ~ .btn_box li.item1 {
    display: block;
}

#vs2:checked ~ .btn_box li.item2 {
    display: block;
}

#vs3:checked ~ .btn_box li.item3 {
    display: block;
}

.cur_fr {
    position: absolute;
    bottom: 120px;
    right: 210px;
    height: 40px;
    width: 235px;
    color: white;
    font-size: 24px;
    z-index: 39;
}

.cur_fr .vs_bar {
    display: block;
    float: left;
    height: 3px;
    width: 150px;
    background: white;
    text-indent: -9999px;
    margin-top: 18px;
    transition: 0.7s;
    transition-timing-function: ease-out;
}

.cur_fr .tot_num {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    float: right;
    color: white;
    text-indent: 15px
}

#vs1:checked ~ .cur_fr .vs_bar {
    width: 50px;
}

#vs2:checked ~ .cur_fr .vs_bar {
    width: 100px;
}

#vs3:checked ~ .cur_fr .vs_bar {
    width: 150px;
}

.page {
    clear: both;
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.full_banner {
    width: 400%;
    height: 70vh;
}

.full_banner li {
    width: 25%;
    height: 100%;
    float: left;
}

.full_banner li a {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-indent: -9999px;
}

.full_banner li.item1 a {
    background-image: url("./img/main/page1-1.jpg");
}

.full_banner li.item2 a {
    background-image: url("./img/main/page1-2.jpg");
}

.full_banner li.item3 a {
    background-image: url("./img/main/page1-3.jpg");
}

#page1 button {
    display: block;
    width: 38px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 44%;
    background-color: transparent;
    cursor: pointer;
    text-indent: -9999px;
}

#page1 .left_btn {
    left: 10px;
    background-image: url("./icon/page_prev.png");
}

#page1 .right_btn {
    right: 40px;
    background-image: url("./icon/page_next.png");
}

#page2 {
    background-color: #eff;
    height: auto;
    padding-bottom: 40px
}

.hid_tit {
    display: none;
}

.page_wrap {
    width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
}

.detail {
    display: block;
    width: 150px;
    height: 150px;
    background-color: #015836;
    font-weight: 600;
    border-radius: 75px;
    font-size: 18px;
    text-align: center;
    line-height: 140px;
    color: white;
    position: absolute;
    top: 280px;
    right: 190px;
}

.detail:before {
    content: "+";
    font-size: 30px;
    padding-right: 5px;
}

.detail:hover {
    background-color: #2fb19e;
}

.doctor_list {
    width: 1130px;
    margin: 0 auto;
}

.doctor_list li {
    float: left;
    margin: 15px 18px;
}

.doctor_list li a {
    color: #333;
}

.doctor_list li a:hover {
    color: #2fb19e;
}

.doctor_list li a img {
    display: block;
    width: 100px;
    border-radius: 109px;
    background-color: white;
    transition: 0.5s;
    border: 3px solid transparent;
}

.doctor_list li a:hover img {
    background-color: #c2fcf4;
    border: 3px solid #015836;
}

.doctor_list .doc_name {
    display: block;
    line-height: 22px;
    font-weight: 600;
    text-align: center;
    padding-top: 8px;
}

#page3 {
    background-image: url("./img/background/05.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: auto;
}

.page_tit1 {
    color: darkgreen;
    text-align: center;
    font-size: 40px;
}

.icon_list {
    clear: both;
    width: 1170px;
    margin: 20px auto;
}

.icon_list li {
    float: left;
    width: 200px;
    height: auto;
    background: white;
    margin: 40px 10px;
    text-align: center;
    padding: 5px
}

.icon_list li img {
    display: block;
    width: 150px;
    margin: 0 auto;
    padding-top: 10px;
}

.icon_list li span {
    display: block;
    text-align: center;
    color: darkslategray;
}

.icon_list li .item_tit {
    font-size: 20px;
    line-height: 25px;
    padding-top: 20px;
}

.icon_list li .item_com {
    font-size: 15px;
    line-height: 50px
}

#page4 {
    height: 800px;
}

#page4 .page_wrap {
    background-image: url("./img/main/bg_youtube.jpg");
    background-repeat: no-repeat;
    background-position: right 100px;
}

.page_tit2 {
    font-size: 40px;
    padding-top: 40px;
}

.play_ra {
    display: none;
}

.play_list .list1 {
    display: none;
}

.play_list ul li {
    height: 45px;
}

.play_list ul li a {
    display: block;
    width: 300px;
    color: #333;
    font-size: 18px;
    line-height: 35px;
    border-bottom: 1px solid #ededed;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.play_list ul li:after {
    content: "";
    display: block;
    width: 0px;
    height: 4px;
    background: #2fb19e;
    transition: 0.6s;
}

.play_list ul li.on:after {
    width: 500px;
}

.play_list il li.on a {
    border-color: transparent;
}

#play1:checked ~ .play_list #skip1 {
    display: block;
}

#play2:checked ~ .play_list #skip2 {
    display: block;
}

#play3:checked ~ .play_list #skip3 {
    display: block;
}

.utb {
    position: absolute;
    right: 5px;
    top: 198px;
}

.lb_box {
    clear: both;
    margin-top: 30px;
}

.lb_box label {
    display: block;
    font-size: 20px;
    float: left;
    border: 2px solid #ededed;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
}

.lb_box label.on {
    border-color: #2fb19e;
}

.sns_list {
    clear: both;
    margin-top: 70px;
    padding-top: 50px
}

.sns_list li {
    float: left;
    margin: 10px;
}

#page5, #page6 {
    background-color: white;
    width: 62%;
    margin: 0 auto;
    height: 700px;
}

.left_side,
.right_side {
    width: 50%;
}

.left_side {
    float: left;
}

.right_side {
    float: right;
}

.news_list {
    width: 590px;
}

#banner5 {
    width: 100%;
    overflow-x: hidden;
}

.half_box {
    width: 500%;
}

.half_box div {
    float: left;
    width: 20%;
    height: auto;
    min-height: 600px;
}

.half_box div img {
    display: block;
    width: 100%;
    height: auto;
}

.right_side .page_tit2 {
    padding-left: 80px;
    padding-top: 80px;
}

.news_list {
    border-top: 4px solid #2fb19e;
}

.news_list li {
    margin-left: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    border-bottom: 1px solid #ededed;
    position: relative;
}

.news_list li a {
    display: block;
    color: #333;
}

.news_list li a span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news_tit {
    font-size: 25px;
}

.news_com {
    font-size: 18px;
}

.news_list li:after {
    content: "VIEW";
    position: absolute;
    right: -90px;
    top: 50%;
    font-size: 22px;
    color: #2fb19e;
}


.pic_box {
    width: 50%;
    float: left;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

.pic_box:before {
    content: "";
    display: block;
    width: 200%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 10, 0, 0.6);
    transition: 0.4s;
}

.pic_box:hover::before {
    background: transparent;
}

.pic_box img {
    display: block;
    width: 100%;
    height: auto;
}

.pic_box .more_tit1 {
    position: absolute;
    top: 500px;
    left: -9990px;
}

.more {
    display: block;
    width: 80px;
    height: 80px;
    font-size: 60px;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
    color: transparent;
    border-radius: 60px;
    background-color: transparent;
    position: absolute;
    right: 10px;
    bottom: 80px;
    transform: rotate(0deg);
    transition: 0.9s;
}

.pic_box:hover .more {
    background-color: #2fb19e;
    transform: rotate(360deg);
    color: white;
    right: 80px;
}
